npm-debug.log
.DS_Store
node_modules
dist
es
lib
/pnpm-lock.yaml
docs/CHANGELOG.md

!/.browserslistrc

!/.eslint-config.js

!/.eslintrc.js

!/.prettierrc.js

!/.stylelintrc.js

!/commitlint.config.js

!/.vscode/settings.json

!/.vscode/extensions.json

!/.gitignore

!/package.json
